<!DOCTYPE html>
<html>

<head>
  <title>Network traffic analysis system</title>
  <link rel="stylesheet" href="./static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <h1 style="text-align: center;">Network traffic analysis system</h1>
    <div id="head">
      <img src="./static/photo/back1.jpeg" alt="" style="display: block; margin: 0 auto;">
    </div>
    <div id="bottom">
      <input type="file" ref="fileInput" @change="handleFileUpload" style="display: none;" />
      
      <button @click="triggerFileSelect">Choose File</button>
      <button @click="submitFile" :disabled="!selectedFile">Upload File</button>
      <button v-if="selectedFile" @click="cancelFile">Cancel File</button>
      
      <p>{{ fileMessage }}</p>
    </div>
    <!-- v-if="uploadSuccess" -->
    <!-- <p class="text"  >recommendation<br>{{recommendation }}</p>
    <p class="text" >Risk Score<br>{{risk_score }}</p>
    <p class="text" >Risk Level<br>{{risk_level }}</p> -->
    <div class="detail" v-if="uploadSuccess">
      <p class="text"  ><span style="color: black;">Recommendation</span><br>{{recommendation}}</p>
      <p class="text" ><span style="color: black;">The Highest Risk Score</span><br>{{risk_score}}</p>
      <p class="text" ><span style="color: black;">The Average Risk Score</span><br>{{averageScore}}</p>
      <p class="text" ><span style="color: black;">Risk Level</span><br>{{risk_level}}</p>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        selectedFile: null,
        fileMessage: 'No file selected.',
        recommendation:"",
        risk_score:0,
        averageScore:0,
        risk_level:"",
        uploadSuccess:false,
      },
      methods: {
        triggerFileSelect() {
          this.$refs.fileInput.click(); // 触发文件选择框的点击事件
        },
        handleFileUpload(event) {
          this.selectedFile = event.target.files[0];
          if (this.selectedFile) {
            this.fileMessage = `Selected file: ${this.selectedFile.name}`;
          }
        },
        submitFile() {
          if (this.selectedFile) {
            const formData = new FormData();
            formData.append('file', this.selectedFile);

            // Replace with your actual API endpoint
            axios.post('http://127.0.0.1:5001/analysis', formData, {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then(response => {
              console.log('File uploaded successfully:', response.data);
              alert('File uploaded successfully!');
              this.resetFileInput();
              this.updateInformation(response.data);
            })
            .catch(error => {
              console.error('Error uploading file:', error);
              alert('Failed to upload file.');
            });
          } else {
            alert('Please select a file to upload.');
          }
        },
        cancelFile() {
          this.resetFileInput();
          this.fileMessage = 'No file selected.';
        },
        resetFileInput() {
          this.selectedFile = null;
          this.$refs.fileInput.value = '';
        },
        updateInformation(data){
          this.uploadSuccess=true;
          this.recommendation=data.recommendation;
          let averageScore=0;
          let highestScore=0
          for(let i=0;i<data.prediction.length;i++){
            if(highestScore<data.prediction[i].risk_score){
              highestScore=data.prediction[i].risk_score;
            }
            averageScore+=data.prediction[i].risk_score;
          }
          let newScore=averageScore/data.prediction.length;
          this.averageScore=newScore.toFixed(2);
          this.risk_score=highestScore;
          if(this.risk_score>7){
            this.risk_level="High";
          }else if(this.risk_score<=7&&this.risk_score>=3){
            this.risk_level="Medium";
          }else{
            this.risk_level="Low";
          }
        }
      }
    });
  </script>
</body>

</html>
